
.footer {
    margin: 0 auto;
    padding-top: 15px;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer-links {
    display: flex;
    justify-content: center; 
}

.footer-link {
    margin-top: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.footer-link:hover {
    background-color: crimson;
    color: white;
    transition: .5s;
    border-radius: 5px;
}

.icon-link a{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    width: auto;
    height: 50px;
    font-size: 25px;
}

.icon-link a:hover{
    color: crimson;
    transition: .5s;
}
