body {
    overflow: hidden;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #dc143c, #00084b, crimson);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.global {
    margin-top: 8%;
}

pre {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

img {
    height: 250px;
    width: 250px;
}



.main-para {
    color: white;
    font-size:40px;
    text-align: center;
}

.line-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    text-decoration: none;
}

button {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 30px;
    width: 155px;
    height: 65px;
    color: black;
    border: crimson solid .1px;
    border-radius: 5px;
    background-color: crimson;
}