body {
    overflow: hidden;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #dc143c, #00084b, crimson);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.global {
    margin-top: 8%;
}

pre {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: crimson;
}

img {
    height: 250px;
    width: 250px;
}

.main-para {
    color: white;
    font-size:40px;
    text-align: center;
}

.line-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    text-decoration: none;
}

button {
    margin: 25px 20px;
    font-size: 30px;
    width: 175px;
    height: 80px;
    color: white;
    border: crimson solid .1px;
    border-radius: 5px;
    background-color: crimson;
}

@media (min-width:800px) {

    .global {
        margin-top: 55%;
    }

    pre {
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
        color: crimson;
    }

    img {
        height: 275px;
        width: 275px;
    }

    .main-para {
        color: white;
        font-size: 40px;
        text-align: center;
    }

    button {
        margin: 25px 20px;
        font-size: 45px;
        width: 250px;
        height: 95px;
        color: white;
        border: crimson solid .1px;
        border-radius: 3px;
        background-color: crimson;
    }
    

}