@media only screen and (max-width: 32.5em) {
  body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(-45deg, crimson, #00084b, crimson);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color: white;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .nav-bar .nav-links {
    justify-content: center;
    display: flex;
    margin-left: 13px;
  }
  .nav-bar .nav-links .links {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    margin-top: 2em;
  }
  .nav-bar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }

  .header {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .header h1 {
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: white;
    border-bottom: white solid 3px;
  }

  .global .main-para {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  .global .main-para img {
    margin-top: 4em;
    height: 8em;
    width: 8em;
  }
  .global .main-para pre {
    font-size: 22px;
    color: crimson;
    font-family: "Roboto", sans-serif;
  }
  .global .navbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .global .navbar button {
    margin: 10px;
    font-size: 20px;
    height: 2.5em;
    width: 6em;
    color: white;
    border: crimson solid 1px;
    border-radius: 5px;
    background-color: crimson;
  }

  #about {
    background-color: crimson;
    border: 1px crimson solid;
    border-radius: 5px;
    width: 100px;
    height: 20px;
  }

  .icon-header {
    font-size: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .icon-header .icon-item {
    margin-top: 10px;
  }
  .icon-header .icon-item img {
    height: 2.5em;
    width: 2.5em;
  }

  .bottom-wrapper {
    display: grid;
    justify-content: center;
  }
  .bottom-wrapper .desc-wrapper {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    margin: 0px 15px;
  }
  .bottom-wrapper .desc-wrapper h3 {
    display: flex;
    justify-content: center;
  }
  .bottom-wrapper .desc-wrapper img {
    height: 5em;
    width: 5em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .bottom-wrapper .code-bar {
    text-align: center;
    margin: 0 auto;
  }
  .bottom-wrapper .code-bar h1 {
    font-size: 22px;
  }
  .bottom-wrapper .code-bar .lang {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: #242464;
    color: white;
    border-radius: 10px 10px;
    margin-top: 10px;
  }
  .bottom-wrapper .code-bar .lang p {
    font-size: 20px;
  }

  #contact {
    background-color: crimson;
    border: 1px crimson solid;
    border-radius: 5px;
    width: 100px;
    height: 20px;
  }

  .form {
    margin: 0 auto;
    text-align: center;
  }
  .form .form-group {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .form input {
    font-size: 20px;
    border-radius: 5px;
    width: 350px;
    height: 80px;
    border: 2px solid black;
    transition: 0.5s;
    margin-top: 20px;
    padding-left: 20px;
  }
  .form input:focus {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    color: crimson;
    border: 2px crimson solid;
  }
  .form textarea {
    width: 350px;
    height: 190px;
    border-radius: 5px;
    font-size: 20px;
    font-family: inherit;
    transition: 0.5s;
    border: 2px solid black;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
  .form textarea:focus {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
    color: crimson;
    border: 2px crimson solid;
  }
  .form .button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .form .button button {
    background-color: crimson;
    color: white;
    border: crimson solid 1px;
    border-radius: 2px;
    font-size: 25px;
    height: 60px;
    width: 140px;
  }

  .thank img {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
  }
  .thank p {
    margin: 30px 30px;
    font-size: 20px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .footer-link {
    margin: 0px;
  }
  .footer-link button {
    background-color: crimson;
    color: white;
    border: crimson solid 1px;
    border-radius: 5px;
    font-size: 20px;
    height: 60px;
    width: 105px;
  }

  footer {
    margin: 0 auto;
  }
  footer .footer-links {
    display: flex;
    justify-content: center;
  }
  footer .footer-links .footer-link {
    margin-top: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
  }
  footer .footer-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  footer .icon-link a {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 10px;
    height: 40px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 32.5em) {
  body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(-45deg, crimson, #00084b, crimson);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: black;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .nav-bar {
    display: flex;
    justify-content: right;
  }
  .nav-bar .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }
  .nav-bar .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    width: 150px;
  }
  .nav-bar .nav-links a:hover {
    background-color: crimson;
    transition: 0.5s;
    color: white;
    border-radius: 5px;
  }
  .nav-bar .nav-links .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .header h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: white;
    border-bottom: white solid 3px;
  }

  .main-para {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 2em;
  }
  .main-para img {
    height: 250px;
    width: 250px;
  }
  .main-para .line-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-para .line-one pre {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: crimson;
  }
  .main-para .line-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
  }
  .navbar .links button {
    margin: 25px 20px;
    font-size: 30px;
    width: 175px;
    height: 80px;
    color: white;
    border: crimson solid 0.1px;
    border-radius: 5px;
    background-color: crimson;
  }

  #about {
    background-color: crimson;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .icon-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: white;
    padding: 50px;
    font-size: 22px;
  }
  .icon-header img {
    height: 110px;
    width: 110px;
  }
  .icon-header .icon-item {
    width: 30%;
  }

  .bottom-wrapper {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 50% 50%;
    color: white;
  }
  .bottom-wrapper .desc-wrapper {
    grid-column: 1;
    margin: 0 auto;
    font-size: 22px;
    width: 40em;
    text-align: center;
  }
  .bottom-wrapper .desc-wrapper img {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
  }
  .bottom-wrapper .desc-wrapper h3 {
    display: flex;
    justify-content: center;
    height: 15px;
  }
  .bottom-wrapper .code-bar {
    grid-column: 2;
    text-align: center;
    margin: 0 auto;
  }
  .bottom-wrapper .code-bar h3 {
    font-size: 25px;
  }
  .bottom-wrapper .code-bar .lang {
    display: flex;
    justify-content: center;
    font-size: 22px;
    width: 300px;
    height: auto;
    background-color: #242464;
    color: white;
    border-radius: 20px;
    margin-top: 30px;
  }

  #contact {
    background-color: crimson;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .form {
    margin: 0 auto;
    text-align: center;
  }
  .form .form-group {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .form .form-group input {
    font-size: 25px;
    padding: 25px 30px;
    border-radius: 5px;
    width: 35%;
    border: 2px solid black;
    transition: 0.5s;
  }
  .form .form-group input:focus {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    color: crimson;
    border: 2px crimson solid;
  }
  .form .form-group textarea {
    width: 35%;
    height: 250px;
    border-radius: 5px;
    font-size: 25px;
    font-family: inherit;
    padding: 25px 30px;
    transition: 0.5s;
    border: 2px solid black;
  }
  .form .form-group textarea:focus {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
    color: crimson;
    border: 2px crimson solid;
  }
  .form .button {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 3em;
  }
  .form .button button {
    background-color: crimson;
    color: white;
    border: 1px solid crimson;
    border-radius: 5px;
    height: 3em;
    width: 6em;
    font-size: 1.5em;
  }

  .footer-link button {
    background-color: crimson;
    color: white;
    border: crimson solid 1px;
    border-radius: 2px;
    font-size: 25px;
    height: 60px;
    width: 140px;
  }

  .thank {
    margin-top: 5em;
  }
  .thank img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 16em;
    width: 16em;
  }
  .thank p {
    font-size: 3em;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  footer {
    position: sticky;
    margin: 0 auto;
  }
  footer .footer-links {
    display: flex;
    justify-content: center;
  }
  footer .footer-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 7em;
  }
  footer .footer-links a:hover {
    background-color: crimson;
    transition: 0.5s;
    border-radius: 5px;
  }
  footer .footer-links .footer-link {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  footer .footer-links .footer-link button {
    color: white;
    background-color: crimson;
    border: 1px solid crimson;
    border-radius: 5px;
    width: 6em;
  }
  footer .icon-link a {
    display: flex;
    justify-content: center;
    color: white;
    width: auto;
    font-size: 25px;
    padding-top: 10px;
  }
  footer .icon-link a:hover {
    color: crimson;
    transition: 0.5s;
  }
}

/*# sourceMappingURL=about.css.map */
