body {
    overflow: hidden;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(-45deg, #dc143c, #00084b, crimson);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

p {
    font-size: 90px;
    color: white;
    margin-top: 15%;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer {
    margin: 0 auto;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.footer-links {
    display: flex;
    justify-content: center; 
}

.footer-link {
    margin-top: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.footer-link:hover {
    background-color: crimson;
    color: white;
    transition: .5s;
    border-radius: 5px;
}

.icon-link a{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    color: white;
    width: auto;
    height: 50px;
    font-size: 25px;
}

.icon-link a:hover{
    color: crimson;
    transition: .5s;
}
